<h1>Manage Subscription</h1>

<div>
  <p>You are currently subscribed!</p>
  <div>
    <p>Card on file:<p>
    <p><%= current_account.card_brand %> (**** **** **** <%= current_account.card_last4 %>)</p>
    <p>Expires: <%= current_account.card_exp_month %>/<%= current_account.card_exp_year %></p>
  </div>
</div>
<%= link_to "Change card", edit_subscription_path %>
