<!DOCTYPE html>
<html>
  <head>
    <title>FrontDesk</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'https://js.stripe.com/v3/', 'data-turbolinks-track': 'reload' %>
    <%= tag :meta, name: "stripe-public-key", content: Rails.application.secrets.stripe_public_key %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-light fixed-top" style="background-color: white;">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Front Desk</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
         <li class="nav-item active">
            <a class="nav-link" href="#">Staff</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Visitors</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Setup</a>
              <a class="dropdown-item" href="#">Account</a>
              <%= link_to "Subscription", new_subscription_path(plan: "chat_monthly"), class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item">
            <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "nav-link") %>
          </li>
        </ul>
      </div>
    </nav>

    <div id="back">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
