<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @member.account %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @member.phone %>
</p>

<p>
  <strong>Slack:</strong>
  <%= @member.slack_id %>
</p>

<p>
  <strong>Hipchat:</strong>
  <%= @member.hipchat_id %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
